<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Edit User</h5>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputFirstName">First Name</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
          id="exampleInputFirstName"
          placeholder="First Name"
        />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputLastName">Last Name</label>

        <input
          type="text"
          id="exampleInputLastName"
          placeholder="Last Name"
          formControlName="lastName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
        />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          placeholder="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Mobile Number</label>
        <input
          type="text"
          formControlName="mobileNumber"
          placeholder="mobile number"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }"
        />
        <div
          *ngIf="submitted && f.mobileNumber.errors"
          class="invalid-feedback"
        >{{f.mobileNumber.errors |json}}
          <div *ngIf="f.mobileNumber.errors.required">
            Mobile Number is required
          </div>
          <div *ngIf="f.mobileNumber.errors.minlength">
            Mobile Number must be a valid 10 digit
          </div>
          <div *ngIf="f.mobileNumber.errors.maxlength">
            Mobile Number must be a valid 10 digit
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputFile">Profile Image</label>
        <input type="file" id="exampleInputFile" />
        <p class="help-block">Please select profile image here.</p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Edit</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
